body {
    background-color: pink;
}
#pierwszy {
    background-color: darkolivegreen;
    width: 600px;
    height: 100px;
    margin-bottom: 10px;
}
#drugi {
    background-color: darkcyan;
    width: 600px;
    height: 100px;
}